In [29]:
X_train = train[['tenure', 'contract_type_encoded', 'monthly_charges', 'payment_type_encoded']]
y_train = train.churn

X_validate = validate[['tenure', 'contract_type_encoded', 'monthly_charges', 'payment_type_encoded']]
y_validate = validate.churn

# Create a DataFrame to hold Predictions

In [30]:
predictions = pd.DataFrame({'actual' : y_validate})

## Logistic Regregression

In [97]:
def evaluate_threshold(t, y, probs):
    yhat = (probs > t).astype(int)
    return {
        "threshold": t,
        "precision": precision_score(y, yhat),
        "recall": recall_score(y, yhat),
        "accuracy": accuracy_score(y, yhat),
    }


def evaluate_thresholds(y, probs):
    return pd.DataFrame(
        [evaluate_threshold(t, y, probs) for t in np.arange(0, 1.01, 0.01)]
    )

In [31]:
log_reg_model = LogisticRegression(random_state=123).fit(X_train, y_train)

In [32]:
predictions['logistic Regression: churn ~ tenure, contract type, monthly charges'] = log_reg_model.predict(X_validate)

In [33]:
predictions.head()

,actual,"logistic Regression: churn ~ tenure, contract type, monthly charges"
5854,No,No
797,No,No
3188,No,No
2254,No,No
5732,No,No

In [34]:
log_reg_accuracy = log_reg_model.score(X_validate, y_validate)

## Decision Tree

In [35]:
tree_model = DecisionTreeClassifier(max_depth=3, random_state=123).fit(X_train, y_train)

In [36]:
predictions['Decision Tree: churn ~ tenure, contract type, monthly charges'] = tree_model.predict(X_validate)

In [37]:
predictions.head()

,actual,"logistic Regression: churn ~ tenure, contract type, monthly charges","Decision Tree: churn ~ tenure, contract type, monthly charges"
5854,No,No,No
797,No,No,No
3188,No,No,No
2254,No,No,No
5732,No,No,No

In [38]:
tree_accuracy = tree_model.score(X_validate, y_validate)

## Random Forest

In [39]:
forest_model = RandomForestClassifier(n_estimators=10, random_state=123).fit(X_train, y_train)

In [40]:
predictions['Random Forest: churn ~ tenure, contract type, monthly charges'] = forest_model.predict(X_validate)

In [41]:
forest_accuracy = forest_model.score(X_validate, y_validate)

## K Nearest Neighbors

In [42]:
knn = KNeighborsClassifier(n_neighbors=5).fit(X_train, y_train)

In [43]:
predictions['KNN: churn ~ tenure, contract type, monthly charges'] = knn.predict(X_validate)

In [44]:
knn_accuracy = knn.score(X_train, y_train)

In [45]:
predictions.head()

,actual,"logistic Regression: churn ~ tenure, contract type, monthly charges","Decision Tree: churn ~ tenure, contract type, monthly charges","Random Forest: churn ~ tenure, contract type, monthly charges","KNN: churn ~ tenure, contract type, monthly charges"
5854,No,No,No,No,No
797,No,No,No,No,No
3188,No,No,No,No,No
2254,No,No,No,No,No
5732,No,No,No,No,No

In [46]:
predictions[['actual', 'KNN: churn ~ tenure, contract type, monthly charges']]

     actual KNN: churn ~ tenure, contract type, monthly charges
5854     No                                                 No
797      No                                                 No
3188     No                                                 No
2254     No                                                 No
5732     No                                                 No
...     ...                                                ...
4811     No                                                 No
6879     No                                                 No
5366    Yes                                                 No
1301     No                                                 No
6594     No                                                 No

[1127 rows x 2 columns]